<html>
    <head>
        
<!-- Required if site uses cookies or tracking and is accessible in the EU: -->
<script src="{{ url_for('static', filename='js/consent.js') }}?v={{ meta.version }}"></script>

        <title>{{ meta.title }}</title>
        <link rel="icon" sizes="32x32" href="{{ url_for('static', filename='favicon.ico') }}" />
        <meta charset="utf-8">
        <meta property="og:title" content="{{ meta.title }}" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:image" content="{{ meta.primaryImg }}" />
        <meta property="og:description" content="{{ meta.description }}" />
        <link rel="canonical" href="/" />
        <meta property="og:url" content="/" />
        <meta property="og:site_name" content="npr.org" />
        
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        
        
    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/main.css') }}?v={{ meta.version }}" rel="stylesheet">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <body>

        <header>
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container">

                  <div class="navbar-header">
                      <a class="navbar-brand align-top" href="#">
                          <img src="{{ meta.logo }}" alt="npr"> &nbsp; 
                          {{ meta.title }}
                      </a>
                  </div>

        <!-- Begin Responsive Navigation --
                  <div class="navbar-header">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" 
                              data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" 
                              aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                      </button>
                  </div>

                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">

     
                          <a class="nav-item nav-link" href="https://www.npr.org">npr</a>

                      </div>
                  </div>
        <!-- End Responsive Navigation -->

              </div>
          </nav>
        </header>  

        <div class="container pt-3">
            {% block container %}{% endblock %}
        </div>
        
        <div class="footer">
            <hr style="margin:100px 0px 0px 0px">
            <div class="container">
                <p class="text-muted" style="margin:20px 0;">
                    &copy; {{ meta.year }} NPR (All Rights Reserved)  <i class="fab fa-python"></i> {{ meta.pyVersion }}
                </p>
            </div>
        </div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}?v={{ meta.version }}"></script>        
    </body>
</html>
