{% extends 'base.html' %}
{% block container %}

{% for station in stations %}

    <div>
        <h3 class="d-inline bg-white align-middle pr-3">{{ station.call }}:</h3>
        <audio controls class="align-middle">
            <source src="{{ station.stream }}" width="100%" type="audio/mpeg">
        </audio>
    </div>

{% endfor %}

{% endblock %}
